<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div th:fragment="aggViaggio">

	<div class="modal fade" id="addViaggioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header border-bottom-0">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-title text-center">
              <h4>Register</h4>
            </div>

		<form th:action="@{/viaggio_register}" th:object="${viaggio}" method="post">
		  <div class="form-group">
		    <label for="exampleInputEmail1">Partenza</label>
		    <input type="text" class="form-control" th:field="*{partenza}" placeholder="Partenza">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">PartenzaX</label>
		    <input type="text" class="form-control" th:field="*{partenzaX}" placeholder="PartenzaX">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">PartenzaY</label>
		    <input type="text" class="form-control" th:field="*{partenzaY}" placeholder="PartenzaY">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Destinazione</label>
		    <input type="text" class="form-control" th:field="*{destinazione}" placeholder="Destinazione">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">DestinazioneX</label>
		    <input type="text" class="form-control" th:field="*{destinazioneX}" placeholder="DestinazioneX">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">DestinazioneY</label>
		    <input type="text" class="form-control" th:field="*{destinazioneY}" placeholder="DestinazioneY">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputPassword1">Posti totali</label>
		    <input type="text" class="form-control" th:field="*{postiTotali}" placeholder="Quanti posti ci sono?">
		  </div>
		  <button type="submit" value="AddViaggio" class="btn btn-primary">Submit</button>
		</form>
		</div>
    </div>
  </div>
</div>
</div>

</body>
</html>