<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	
  <div th:fragment="pageMappa">
  
  	<!-- CSS e JS per la mappa -->
    <link rel="stylesheet" type="text/css" href="css/MappaSIT.css">
	<script src="https://maps.googleapis.com/maps/api/js?key=*********KEYGOESHERE**********&callback=initMap&libraries=places"defer></script>
 	<script type="text/javascript" src="js/mappaSIT.js"></script>
 	
 	<body>    
    <div id="googlemaps"></div>
	<div id="grid">
	
	<!-- slider starts here -->
	<div class="switch-button" sec:authorize="hasAnyAuthority('AUTISTA')">
		<span class="active"></span>
		<button class="switch-button-case left active-case">Cerco un viaggio</button>
		<button class="switch-button-case right">Offro un viaggio</button>
	</div>
	<!-- slider ends here -->
	<form action="/" method="POST" class="form login">
		<div class="form__field">
			<label for="partenza">Da</label>
			<input id="partenza" type="text" name="partenza" class="form__input" placeholder="partenza" onfocusout="partenzaout()" required>
		</div>
		<div class="form__field">
			<label for="destinazione">A</label>
			<input id="destinazione" type="text" name="destinazione" class="form__input" placeholder="destinazione" onfocusout="destinazioneout()" required>
	    </div>
	    
	    <div style="display:grid; grid-template-columns: 50% 50%;margin-top: inherit;margin-bottom: inherit;" id="form_field_interno" class="">
	    	<div class="form__field" id="div_data" style="grid-column: span 2;">
	    		<label for="data">Il</label>
	    		<input id="input_data" type="date" class="form__input" required="" >
	     	 </div>
	     	 <div class="form__field" id="form_ora_autista" style="display:none">
	     	 	<label for="ora" style="width: auto;">Alle	</label>
	     	 	<input id="input_ora" type="time" class="form__input" required="">
	     	 </div>
	     </div>
			
		<div style="display:none; grid-template-columns: 50% 50%;margin-top: inherit;margin-bottom: inherit;" id="form_field_interno2" class="">
			<div class="form__field" style="/*! margin: 0; */">
				<label for="posti_autista" style="width: auto; ">Posti</label>
				<input id="input_posti" type="text" class="form__input" required=""  onkeyup="this.value=this.value.replace(/[^\d]/,'')">
			</div>
			<div class="form__field">
				<label for="tariffa_km" style="width: auto;">€ per Km</label>
				<input id="tariffa_km" type="text" class="form__input" required=""  onkeyup="this.value=this.value.replace(/[^\d]/,'')">
			</div>
		</div>
		
		<div class="form__field"><input type="Button" value="Cerca" id="BtnCerca" onclick="drawroute()"></div>
		<div class="form__field"><input type="Button" form="form_infoWindow2" value="Registra" id="BtnRegistra" style="display:none" onclick="submitViaggio()"></div>
	    </form>
	
	<form th:action="@{/prenota-viaggio}" th:object="${prenotazione}" method="post" id="form_infoWindow" style="margin-left:30px">
	<div id="id_infoWindow" >
		<div id="dati"></div>
		<div id="id_userInput" style="display:grid; grid-template-columns: 60% 30%; align-items:center;">
			<div id="id_inneruserInput" style="display:grid; grid-template-columns:fit-content(100%) fit-content(100%) auto auto; align-items:left;grid-gap: 3px;grid-row-gap: 5px;">
				<label for="data_prenotazione">Partenza: </label>
				<label id="data_prenotazione" style="resize:none;width:80%;background: #f5f5f5; margin-left:15px"></label>
				<label for="input_postiViaggio"  onkeyup="this.value=this.value.replace(/[^\d]/,'')">Posti: </label>
				<input type="text" th:field="*{reservedSeats}" id="input_postiViaggio" style="resize:none; width:80%;background: #f5f5f5; margin-left:15px" />
				<label id="totalSeats" style="margin-left:10px; resize:none; width:60px;"></label>
				<input type="text" th:field="*{tripId}" id="tripId" style="display:none" />
				<label for="indirizzo_di_incontro" style="grid-column:span 2;">indirizzo di incontro: </label>
				<input type="text" th:field="*{meetingAddress}" id="indirizzo_di_incontro" style="display:none" />
				<label id="label_indirizzo_di_incontro" style="grid-column:span 2;">Dove vorresti incontrare l'autista? clicca sul percorso!</label>
			</div>
			<button type="submit" id="bottone_registraViaggio" style="margin-right:20px; margin-left:20px" value="registraViaggio">Prenota questo viaggio!</button>
		</div>
	</div>
	</form>
	
	
	<form th:action="@{/registra-viaggio}" th:object="${viaggio}" method="post" id="form_infoWindow2" style="display:none">
			<input type="text" th:field="*{start}" id="indirizzo_partenza_autista"/>
			<input type="number" th:field="*{startX}" id="X_partenza_autista"/>
			<input type="number" th:field="*{startY}" id="Y_partenza_autista"/>
			<input type="text" th:field="*{end}" id="indirizzo_destinazione_autista"/>
			<input type="number" th:field="*{endX}" id="X_destinazione_autista"/>
			<input type="number" th:field="*{endY}" id="Y_destinazione_autista"/>
			<input type="number" th:field="*{totalSeats}" id="posti_totali_autista"/>
			<input type="text" th:field="*{dateString}" id="viaggio_date_autista"/>
			<input type="text" th:field="*{timeString}" id="viaggio_ora_autista"/>
			<input type="number" th:field="*{tripLength}" id="tripLength"/>
			<input type="number" th:field="*{priceKm}" id="tariffa_km_form"/>
			
 		</form>     
	</div> 
	</body>
	
  </div>



</head>
<body>
</body>
</html>